// --- varaible
$screen-break-point: 749.5px;
// --- Style
section.formContainer {
  margin-top: 64px;
}
// --- RWD
// - Progress
@media screen and (max-width: $screen-break-point) {
  section.formContainer {
    margin-top: 24px;
  }
}

// --- form切換
// - 初始狀態
.address,
.shipping,
.creddit {
  display: none;
}
// - 綁定dataphase顯示各階段表單
div {
  &.address[dataphase="0"],
  &.shipping[dataphase="1"],
  &.creddit[dataphase="2"] {
    display: block;
  }
}
