%select-style {
  width: 100%;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 16px;
  border: 1px solid #a7aaaf;
  border-radius: 4px;
  background-color: transparent;
  &:hover,
  &:focus {
    border-color: var(--input-border);
  }
}
.selectGroup {
  margin-top: 24px;
  .selectLabel {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: var(--input-label);
    margin-bottom: 8px;
  }
  input {
    @extend %select-style;
  }
  .selectContainer {
    position: relative;
    z-index: 0;
    &::after {
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      content: "";
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: var(--select-arrow) transparent transparent transparent;
      z-index: -1;
    }
  }
  select {
    @extend %select-style;
    -webkit-appearance: none;
    cursor: pointer;
    color: var(--select-true);
    background-color: transparent;
    &:required:invalid {
      color: var(--select-false);
    }
    option {
      &[value=""][disabled] {
        display: none;
      }
      color: var(--select-true);
    }
  }
}

.row {
  justify-content: space-between;
}

h3.formTitle {
  display: flex;
  flex: 0 0 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
