section.formBody {
  .radioGroup {
    position: relative;
    justify-content: unset;
    padding: 11px 20px;
    margin-top: 24px;
    cursor: pointer;

    input[type="radio"] {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      align-self: center;
      -webkit-appearance: none;
    }

    input[type="radio"]::before {
      content: "";
      display: block;
      width: inherit;
      height: inherit;
      border: 1px solid #222222;
      border-radius: 50%;
      background-color: #ffffff;
    }

    input[type="radio"]:checked::before {
      border: 6px solid #2a2a2a;
      background-color: #ffffff;
    }

    .radioInfo {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      align-content: center;
      .row {
        justify-content: space-between;
      }
      .text {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
      }
      .price,
      .period {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .radioBoxBorder {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    input[type="radio"] ~ .radioBoxBorder {
      border-radius: 4px;
      border: 1px solid #f0f0f5;
    }
    input[type="radio"]:checked ~ .radioBoxBorder {
      border: 1px solid #2a2a2a;
    }
  }
}
h3.formTitle {
  display: flex;
  flex: 0 0 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
