// --- variable
$screen-break-point: 749.5px;
$header-menu-item-margin-x: 16px;
$header-action-item-margin-x: 15px;
:root {
  --header-height: 60px;
  --header-logo-width: 170px;
}
// --- style
header.siteHeader {
  position: sticky;
  top: 0px;
  padding-left: var(--site-edge-margin);
  padding-right: var(--site-edge-margin);
  background-color: var(--background-color);
  text-align: center;
  z-index: 100;
  .headerContainer {
    display: flex;
    position: relative;
    max-width: 1100px;
    height: var(--header-height);
    background-color: inherit;
    align-items: stretch;
  }
}

nav.navbarMenu {
  display: flex;
  flex-grow: 1;
  background-color: inherit;
  align-items: center;

  .navList {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: inherit;

    .navItem {
      cursor: pointer;

      .navLink {
        font-weight: 500;
        line-height: 24px;
        color: var(--main-text);
        text-decoration: none;
      }
      .navIcon {
        width: 24px;
        height: 24px;
      }
      .navLink,
      .navIcon {
        &:hover,
        &:active {
          color: var(--secondary-text);
          --main-text: var(--secondary-text);
        }
      }
    }

    &.siteMenuList {
      max-width: calc(
        50% - var(--header-logo-width) / 2 - #{$header-menu-item-margin-x} / 8
      );

      .navItem {
        margin-left: $header-menu-item-margin-x;
        margin-right: $header-menu-item-margin-x;

        &:first-child {
          margin-left: 0px;
        }
      }
    }
    &.siteActionList {
      max-width: calc(
        50% - var(--header-logo-width) / 2 - #{$header-action-item-margin-x} / 8
      );

      .navItem {
        margin-left: $header-action-item-margin-x;
        margin-right: $header-action-item-margin-x;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

// logo
.headerLogoContainer {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: var(--header-height);
  width: var(--header-logo-width);
}

// navbar-toggle
input.navbarToggle {
  display: none;
}
label.burgerContainer {
  display: none;
}
.iconToggle {
  width: 24px;
  height: 24px;
}

// --- RWD
@media screen and (max-width: $screen-break-point) {
  :root {
    --header-height: 56px;
    --header-logo-width: 136px;
  }

  header.siteHeader {
    label.burgerContainer {
      display: flex;
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      align-items: center;
    }
  }

  nav.navbarMenu {
    display: block;
    margin-top: var(--header-height);
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out,
      opacity 0.3s;

    .navList {
      justify-content: center;

      .navItem {
        position: relative;
        padding: 24px 0;
        &:active {
          background-color: var(--active-color);
          .navLink {
            color: var(--secondary-text);
          }
        }

        .navLink {
          display: block;
        }
      }

      &.siteMenuList {
        max-width: unset;
        flex-direction: column;

        .navItem {
          margin: 0px;

          &::after {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 0px;
            border-bottom: 1px solid rgba(42, 42, 42, 0.1);
            content: "";
          }

          &:first-child {
            padding-top: 0px;
          }
          &:nth-child(4) {
            order: 1;
          }
        }
      }
      &.siteActionList {
        max-width: unset;
      }
    }
  }

  input.navbarToggle:checked ~ nav.navbarMenu {
    opacity: 1;
    transform: scale(1);
  }
}
